[Desktop Entry]
Type=Application
Name=Clipper
GenericName=Clipboard History
Comment=Clipboard history with text and image support
Exec=__CLIPPER_BIN__
Icon=__CLIPPER_ICON__
Terminal=false
Categories=Utility;
StartupNotify=false
StartupWMClass=clipper
